<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <h1>Welcome to Blocipedia!</h1>
      <p>Blocipedia is a project that mimics wikipedia for learning purposes.</p>
      <p>Create and share markdown wikis!</p>
    <p>
     <% if current_user %>
       <p>Welcome back <%=current_user.email%>!</p>
       <%= link_to "Create Wiki", new_wiki_path, class: 'btn btn-primary' %>
    <% else %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    <% end %>
    </p>
    <% if current_user %>
    <% if current_user.standard? %>
      <%= link_to "Upgrade to Premium now!", new_charge_path, class: "btn btn-success" %>
      <% end %>
      <% end %>
    <% if current_user %>
    <% if current_user.premium? %>
      <%= link_to "Downgrade", cancel_user_registration_path, method: :post, class: "btn btn-danger center-block", data: {confirm: "Are you sure you want to downgrade your account? All your private wikis will be made public!"} %>
    <% end %>
    <% end %>

      <div>
        <p> @copyright Katelyn Hertel 2016 </p>
      </div>
  </body>
</html>
